<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>


  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="524288" maxQueryStringLength="524288" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="GGP" path="*" verb="*" type="HistoryHandler.HistoryHTTPHandler" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="ServerId" value="999" />
    <add key="EnableAutenticationOperatorId0" value="false" />
    <add key="EnableAutenticationOperatorId1" value="false" />
    <add key="HistoryEndpointName" value="NetNamedPipeBinding_IGGPHistoryReader" />
    <add key="GGPMockEnabled" value="true"/>

  </appSettings>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IGGPHistoryReader" maxReceivedMessageSize="5242880">
          <security mode="None"/>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>

      <endpoint address="net.pipe://localhost/GGPHistoryReader" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IGGPHistoryReader"
        contract="GGPHistoryReaderService.IGGPHistoryReader" name="NetNamedPipeBinding_IGGPHistoryReader" />
    </client>
  </system.serviceModel>

</configuration>