<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="artifactory" type="GamesPortal.Service.Artifactory.ArtifactorySettings, GamesPortal.Service" />
    <section name="signalR" type="GamesPortal.Service.Configurations.SignalRSettings, GamesPortal.Service" />
    <section name="layoutToolPublisher" type="GamesPortal.Service.Configurations.LayoutToolPublisherSettings, GamesPortal.Service" />
  </configSections>

  <appSettings>
    <add key="ignoredRegulations" value="Delaware"/>
  </appSettings>
  
  
  
  <!-- DEV-->
  <connectionStrings>
    <add name="GGPVersioningDB" connectionString="Data Source=10.20.40.158;Initial Catalog=GGPVersioningDB;Integrated Security=SSPI" />
    <!--<add name="DictionariesDB" connectionString="Data Source=REAL-APR-DEV;Initial Catalog=DB_SDM_Admin;Persist Security Info=True;User ID=rldev;Password=developme" />-->
    <add name="DictionariesDB" connectionString="Data Source=10.20.49.176;Initial Catalog=DB_SDM;Persist Security Info=True;User ID=rlqa;Password=testmenow" />
    <add name="JackpotInfoDB" connectionString="Data Source=10.20.49.176;Initial Catalog=JackpotInfo;Persist Security Info=True;User ID=rlqa;Password=testmenow" />
    <add name="GamesPortalDB" connectionString="Data Source=localhost;Initial Catalog=GamesPortalDev;Integrated Security=True" />
  </connectionStrings>

  <artifactory baseUrl="http://artifactory.888holdings.corp:8081/" 
               synchronizationEnabled="false" 
               synchronizationInterval="01:00:00" 
               enableGamingComponentsSynchronization="false">
    <ignoreUndefinedPropertiesValues>
      <add key="Bingo.State" value="NotTested" />
    </ignoreUndefinedPropertiesValues>
    
    
     <gamesRepositories>
      <repository name="Dev-TestFlash" gamesFolder="Games" gameTechnology="Flash" platformType="PC" isExternal="false" />
      <repository name="Dev-TestHtml" gamesFolder="Games" gameTechnology="Html5" platformType="PcAndMobile" isExternal="false" />
      <repository name="Dev-TestHtml" gamesFolder="Games_MOBILE" gameTechnology="Html5" platformType="Mobile" isExternal="false" />
      <repository name="Dev-TestHtml" gamesFolder="Games_PC" gameTechnology="Html5" platformType="PC" isExternal="false" />
      <repository name="Dev-TestExternalGame" gamesFolder="Games" gameTechnology="Flash" platformType="PC" isExternal="true" />
    </gamesRepositories>
    
    <chillWrapperRepositories>
      <repository name="Dev-TestHtml" folder="Wrapper/chill" category="Chill"/>
      <repository name="Dev-TestFlash" folder="Wrapper" category="Wrapper"/>
    </chillWrapperRepositories>
    
  </artifactory>

  <!--PRODUCTION
  <connectionStrings>
    <add name="GGPVersioningDB" connectionString="Data Source=10.20.40.158;Initial Catalog=GGPVersioningDB;Integrated Security=SSPI"/>
    <add name="DictionariesDB" connectionString="Data Source=REAL-APR-DEV;Initial Catalog=DB_SDM_Admin;Persist Security Info=True;User ID=rldev;Password=developme"/>
    <add name="JackpotInfoDB" connectionString="Data Source=REAL-APR-DMZ.888DMZ.local;Initial Catalog=JackpotInfo;Persist Security Info=True;User ID=rlqa;Password=testmenow"/>
    <add name="GamesPortalDB" connectionString="Data Source=10.20.40.158;Initial Catalog=GamesPortalQA;Integrated Security=True"/>
  </connectionStrings>
  
    <artifactory baseUrl="http://artifactory.888holdings.corp:8081/" synchronizationEnabled="false" synchronizationInterval="01:00:00" enableGamingComponentsSynchronization="false">
    <ignoreUndefinedPropertiesValues>
      <add key="Bingo.State" value="NotTested"/>
    </ignoreUndefinedPropertiesValues>
  </artifactory>
  -->



  <layoutToolPublisher tfsUrl="http://tfs2012:8080/tfs/DefaultCollection_2010" 
                       localWorkspaceFolder="C:\temp\LayoutTool"
                       mailingList="florin.iacob@sparkware.ro"/>
    
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior" type="GamesPortal.Service.CrossOriginResourceSharingBehavior, GamesPortal.Service.Host" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_SecurityNone" maxReceivedMessageSize="104857600" />
        
        <binding name="BasicHttpBinding_SecurityWindows" maxReceivedMessageSize="104857600">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        
      </basicHttpBinding>
    
    <webHttpBinding>
      <binding name="restBinding" maxReceivedMessageSize="104857600" />
    </webHttpBinding>
    
    </bindings>
    <services>
      
      <service name="GamesPortal.Service.LayoutToolService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SecurityNone" contract="GamesPortal.Service.ILayoutToolService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
    
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/LayoutToolService" />
          </baseAddresses>
        </host>
      </service>
      
      <service name="GamesPortal.Service.LayoutToolPublisher">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SecurityWindows" contract="GamesPortal.Service.ILayoutToolPublisher">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/LayoutToolPublisher" />
          </baseAddresses>
        </host>
      </service>

      <service name="GamesPortal.Service.GamesPortalToBuildMachineAdapter">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SecurityNone" contract="GamesPortal.Service.IGamesPortalToBuildMachineAdapter">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

        <endpoint address="http://localhost/buildMachineAdapter/api" binding="webHttpBinding" bindingConfiguration="restBinding" behaviorConfiguration="restBehavior" contract="GamesPortal.Service.IGamesPortalToBuildMachineAdapter">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/buildMachineAdapter" />
          </baseAddresses>
        </host>
      </service>
      
      <service name="GamesPortal.Service.GamesPortalService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SecurityNone" contract="GamesPortal.Service.IGamesPortalService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        
        <endpoint address="http://localhost/GamesPortalService/api" binding="webHttpBinding" bindingConfiguration="restBinding" behaviorConfiguration="restBehavior" contract="GamesPortal.Service.IGamesPortalService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/GamesPortalService" />
          </baseAddresses>
        </host>
      </service>

      <service name="GamesPortal.Service.GamesPortalApprovalService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SecurityWindows" contract="GamesPortal.Service.IGamesPortalApprovalService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/GamesPortalApprovalService" />
          </baseAddresses>
        </host>
      </service>

      

      <service name="GamesPortal.Service.SignalR.GamesPortalHubContext">
        <endpoint address="" binding="basicHttpBinding" contract="GamesPortal.Service.SignalR.IGamesPortalHubContext">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/GamesPortalHubContext" />
          </baseAddresses>
        </host>
      </service>
      
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" />
          <crossOriginResourceSharingBehavior />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="App_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp" />
    </sharedListeners>
  </system.diagnostics>
  -->
  
<!--
  <system.diagnostics>
    <sources>
      <source name="SignalR.SqlMessageBus">
        <listeners>
          <add name="SignalR-Bus" />
        </listeners>
      </source>
      <source name="SignalR.ServiceBusMessageBus">
        <listeners>
          <add name="SignalR-Bus" />
        </listeners>
      </source>
      <source name="SignalR.RedisMessageBus">
        <listeners>
          <add name="SignalR-Bus" />
        </listeners>
      </source>
      <source name="SignalR.ScaleoutMessageBus">
        <listeners>
          <add name="SignalR-Bus" />
        </listeners>
      </source>
      <source name="SignalR.Transports.WebSocketTransport">
        <listeners>
          <add name="SignalR-Transports" />
        </listeners>
      </source>
      <source name="SignalR.Transports.ServerSentEventsTransport">
        <listeners>
          <add name="SignalR-Transports" />
        </listeners>
      </source>
      <source name="SignalR.Transports.ForeverFrameTransport">
        <listeners>
          <add name="SignalR-Transports" />
        </listeners>
      </source>
      <source name="SignalR.Transports.LongPollingTransport">
        <listeners>
          <add name="SignalR-Transports" />
        </listeners>
      </source>
      <source name="SignalR.Transports.TransportHeartBeat">
        <listeners>
          <add name="SignalR-Transports" />
        </listeners>
      </source>
      <source name="SignalR.ReflectedHubDescriptorProvider">
        <listeners>
          <add name="SignalR-Init" />
        </listeners>
      </source>
    </sources>
    
    <switches>
      <add name="SignalRSwitch" value="Verbose" />
    </switches>
    
    <sharedListeners>
    
      <add name="SignalR-Transports" type="System.Diagnostics.TextWriterTraceListener" initializeData="transports.log.txt" />
    
      <add name="SignalR-Bus" type="System.Diagnostics.TextWriterTraceListener" initializeData="bus.log.txt" />
    
      <add name="SignalR-Init" type="System.Diagnostics.TextWriterTraceListener" initializeData="init.log.txt" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
-->

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
