<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GamesPortal.Service.Properties.Settings._dictsConnectionString"
      connectionString="Data Source=10.20.49.75;Initial Catalog=_dicts;Persist Security Info=True;User ID=RealCasinoUser;Password=RealCasinoUser"
      providerName="System.Data.SqlClient" />
    <add name="GamesPortal.Service.Properties.Settings.GGPVersioningDBConnectionString"
      connectionString="Data Source=10.20.40.158;Initial Catalog=GGPVersioningDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GamesPortal.Service.Properties.Settings.ClientApprovalSystemConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=ClientApprovalSystem;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GamesPortal.Service.Properties.Settings.GamesPortalDEVConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=GamesPortalDEV;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GamesPortal.Service.Properties.Settings._dictsConnectionString1"
      connectionString="Data Source=10.20.49.176;Initial Catalog=_dicts;Persist Security Info=True;User ID=RealCasinoUser;Password=RealCasinoUser"
      providerName="System.Data.SqlClient" />
    <add name="GamesPortal.Service.Properties.Settings.DB_SDM_AdminConnectionString"
      connectionString="Data Source=10.20.40.228;Initial Catalog=DB_SDM_Admin;Persist Security Info=True;User ID=rldev;Password=developme"
      providerName="System.Data.SqlClient" />
    <add name="GamesPortal.Service.Properties.Settings.JackPotInfoConnectionString"
      connectionString="Data Source=REAL-APR-DEV;Initial Catalog=JackPotInfo;Persist Security Info=True;User ID=rldev;Password=developme"
      providerName="System.Data.SqlClient" />
    <add name="GamesPortal.Service.Properties.Settings.DB_SDM_AdminConnectionString1"
      connectionString="Data Source=REAL-APR-DEV;Initial Catalog=DB_SDM_Admin;Persist Security Info=True;User ID=rldev;Password=developme"
      providerName="System.Data.SqlClient" />
    <add name="GamesPortal.Service.Properties.Settings.GamesPortalDev2ConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=GamesPortalDev2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GamesPortal.Service.Properties.Settings.DB_SDMConnectionString"
      connectionString="Data Source=10.20.49.176;Initial Catalog=DB_SDM;Persist Security Info=True;User ID=rlqa;Password=testmenow"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      
      <service name="GamesPortal.Service.GamesPortalService">
        <endpoint address="" binding="basicHttpBinding" contract="GamesPortal.Service.IGamesPortalService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/DesignTimeAddresses/GamesPortalService" />
          </baseAddresses>
        </host>
      </service>


      <service name="GamesPortal.Service.GamesPortalApprovalService">
        <endpoint address="" binding="basicHttpBinding" contract="GamesPortal.Service.IGamesPortalApprovalService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/DesignTimeAddresses/GamesPortalApprovalService" />
          </baseAddresses>
        </host>
      </service>
      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
