<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="artifactory" type="GamesPortal.Service.Artifactory.ArtifactorySettings, GamesPortal.Service" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="GamesPortal" connectionString="Data Source=localhost;Initial Catalog=GamesPortalDEV;Integrated Security=SSPI"/>
  </connectionStrings>

  <artifactory baseUrl="http://artifactory.888holdings.corp:8081/"
               synchronizationEnabled="false"
               synchronizationInterval="01:00:00"
               enableGamingComponentsSynchronization="false">
    <ignoreUndefinedPropertiesValues>
      <add key="Bingo.State" value="NotTested" />
    </ignoreUndefinedPropertiesValues>


    <gamesRepositories>
      <repository name="Dev-TestFlash" gamesFolder="Games" gameTechnology="Flash" platformType="PC" isExternal="false" />
      <repository name="Dev-TestHtml" gamesFolder="Games" gameTechnology="Html5" platformType="PcAndMobile" isExternal="false" />
      <repository name="Dev-TestHtml" gamesFolder="Games_MOBILE" gameTechnology="Html5" platformType="Mobile" isExternal="false" />
      <repository name="Dev-TestHtml" gamesFolder="Games_PC" gameTechnology="Html5" platformType="PC" isExternal="false" />
      <repository name="Dev-TestExternalGame" gamesFolder="Games" gameTechnology="Flash" platformType="PC" isExternal="true" />
    </gamesRepositories>

    <chillWrapperRepositories>
      <repository name="Dev-TestHtml" folder="Wrapper/chill" category="Chill"/>
      <repository name="Dev-TestFlash" folder="Wrapper" category="Wrapper"/>
    </chillWrapperRepositories>

  </artifactory>
  
</configuration>