<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GamesPortal.Client.Services.Properties.Settings.GGPVersioningDBConnectionString"
            connectionString="Data Source=10.20.40.158;Initial Catalog=GGPVersioningDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GamesPortal.Client.Services.Properties.Settings._dictsConnectionString"
            connectionString="Data Source=10.20.49.75;Initial Catalog=_dicts;Persist Security Info=True;User ID=RealCasinoUser;Password=RealCasinoUser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGamesPortalService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8687/GamesPortalService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGamesPortalService"
                contract="GamesPortalService.IGamesPortalService" name="BasicHttpBinding_IGamesPortalService" />
        </client>
    </system.serviceModel>
</configuration>