 <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" >Games Portal</a>
        </div>
          <ul class="nav navbar-nav">
            <li class="active">
                <a role="button" (click)="goHome()" >
                    
                    <span class="glyphicon glyphicon-home"></span> 
                    <span>Home</span>
                </a>
            </li>
            <!--<li><a role="button">Page 1</a></li>-->
        </ul>


        <form class="navbar-form">
            <div class="form-group">
                <game-search></game-search>
            </div>
        </form>      
    </div>
</nav>


