<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DeveloperToolAdapterEndpoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/GGPApprovalSystem/qa/devtools.svc"
                binding="basicHttpBinding" bindingConfiguration="DeveloperToolAdapterEndpoint"
                contract="DeveloperToolService.IGGPDeveloperToolService" name="DeveloperToolAdapterEndpoint" />
        </client>
    </system.serviceModel>
</configuration>