<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataControlService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/MainProxyMock/DataControlService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataControlService" contract="MainProxyDataControlService.IDataControlService" name="BasicHttpBinding_IDataControlService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
