<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>GAMES</h4>
        </div>
        <div class="panel-body">
              <div class="row">
                <div class="col-sm-6 well well-lg">
                    <h4 style="width: 180px; margin:0 auto">
                        <a role="button">Internal Games</a>
                    </h4>
                </div>

                <div class="col-sm-6 well well-lg">
                    <h4 style="width: 180px; margin:0 auto">
                        <a role="button">External Games</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

  

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">                    
                     <h4>REPORTS</h4>
                </div>
                <div class="panel-body">
                    <div class="well well-sm">
                        <a role="button" (click)="html5GamesLatestApproved()">
                            HTML5 games - latest approved versions
                        </a>
                    </div>
                    <div class="well well-sm">
                        <a role="button">
                            FLASH games - latest approved versions
                        </a>
                    </div>
                    <div class="well well-sm">
                        <a role="button">
                            Latest version for each game
                        </a>
                    </div>

                    <div class="well well-sm">
                        <a role="button">
                            Never approved games
                        </a>
                    </div>

                    <div class="well well-sm">
                        <a role="button">
                            QA Approval Count
                        </a>
                    </div>

                </div>
            </div>            
        </div>
    </div>
</div>