<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGamesPortalService" />
                <binding name="BasicHttpBinding_IGamesPortalApprovalService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IGamesPortalHubContext" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/GamesPortalService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGamesPortalService" contract="GamesPortalService.IGamesPortalService" name="BasicHttpBinding_IGamesPortalService" />
            <endpoint address="http://localhost/GamesPortalHubContext" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGamesPortalHubContext" contract="GamesPortalHubContracts.IGamesPortalHubContext" name="BasicHttpBinding_IGamesPortalHubContext" />
            <endpoint address="http://localhost/GamesPortalApprovalService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGamesPortalApprovalService" contract="GamesPortalApprovalService.IGamesPortalApprovalService" name="BasicHttpBinding_IGamesPortalApprovalService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism.Wpf" publicKeyToken="91a96d2a154366d8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="91a96d2a154366d8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
