<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILayoutToolService"/>
                <binding name="BasicHttpBinding_ILayoutToolPublisher"> 
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows"/>
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/LayoutToolService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILayoutToolService" contract="LayoutToolService.ILayoutToolService" name="BasicHttpBinding_ILayoutToolService"/>
            <endpoint address="http://localhost/LayoutToolPublisher" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILayoutToolPublisher" contract="LayoutToolPublisherService.ILayoutToolPublisher" name="BasicHttpBinding_ILayoutToolPublisher"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
