<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MailingList" value="florin.iacob@sparkware.ro"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILayoutToolService" maxReceivedMessageSize="104857600" closeTimeout="00:00:20" openTimeout="00:00:20" receiveTimeout="00:00:20" sendTimeout="00:00:20"/>

        <binding name="BasicHttpBinding_ILayoutToolPublisher" maxReceivedMessageSize="104857600" closeTimeout="00:00:20" openTimeout="00:00:20" receiveTimeout="00:00:20" sendTimeout="00:00:20">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>

      </basicHttpBinding>
    </bindings>
    
    <client>
      <endpoint address="http://10.20.40.158/LayoutToolService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILayoutToolService" contract="LayoutToolService.ILayoutToolService" name="BasicHttpBinding_ILayoutToolService"/>
      <endpoint address="http://10.20.40.158/LayoutToolPublisher" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILayoutToolPublisher" contract="LayoutToolPublisherService.ILayoutToolPublisher" name="BasicHttpBinding_ILayoutToolPublisher"/>
    </client>
    
    <!--
    <client>
      <endpoint address="http://localhost/LayoutToolService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILayoutToolService" contract="LayoutToolService.ILayoutToolService" name="BasicHttpBinding_ILayoutToolService"/>
      <endpoint address="http://localhost/LayoutToolPublisher" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILayoutToolPublisher" contract="LayoutToolPublisherService.ILayoutToolPublisher" name="BasicHttpBinding_ILayoutToolPublisher"/>
    </client>
    -->
  </system.serviceModel>
</configuration>