<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="installerDefinitionServerPath" value="$/CasinoTools/GGPDeveloperToolTestData/DEV/Distribution/InstallerContent"/>
    <add key="ggpApprovalSystemSourceCodeServerPath" value="$/CasinoTools/GGPApprovalSystem/DEV"/>
    <add key="installerDistributionPath" value="C:\CasinoTools\GGPDeveloperToolTestData\DEV\Distribution\InstallerBinaries"/>
    <add key="oldDistributionPath" value="$/GamingX/Distributions"/>
    
    <add key="useMockServices" value="false"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DeveloperToolAdapterEndpoint" maxReceivedMessageSize="104857600" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/GGPApprovalSystem/qa/devtools.svc"
          binding="basicHttpBinding" bindingConfiguration="DeveloperToolAdapterEndpoint"
          contract="DeveloperToolService.IGGPDeveloperToolService" name="DeveloperToolAdapterEndpoint" />
    </client>
  </system.serviceModel>
  
</configuration>