<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="artifactory" type="GamesPortal.Service.Artifactory.ArtifactorySettings, GamesPortal.Service" />
  </configSections>

  <connectionStrings>
    <add name="GamesPortalDB" connectionString="Data Source=10.20.40.158;Initial Catalog=GamesPortalQA;Integrated Security=True" />
  </connectionStrings>

  <artifactory baseUrl="http://artifactory.888holdings.corp:8081/" synchronizationEnabled="false" synchronizationInterval="01:00:00" enableGamingComponentsSynchronization="false">
    <ignoreUndefinedPropertiesValues>
      <add key="Bingo.State" value="NotTested" />
    </ignoreUndefinedPropertiesValues>

    <gamesRepositories>
      <repository name="Dev-TestFlash" gamesFolder="Games" gameTechnology="Flash" platformType="PC" isExternal="false" />
      <repository name="Dev-TestHtml" gamesFolder="Games" gameTechnology="Html5" platformType="PcAndMobile" isExternal="false" />
      <repository name="Dev-TestHtml" gamesFolder="Games_MOBILE" gameTechnology="Html5" platformType="Mobile" isExternal="false" />
      <repository name="Dev-TestHtml" gamesFolder="Games_PC" gameTechnology="Html5" platformType="PC" isExternal="false" />
      <repository name="Dev-TestExternalGame" gamesFolder="Games" gameTechnology="Flash" platformType="PC" isExternal="true" />
    </gamesRepositories>

    <chillWrapperRepositories>
      <repository name="Dev-TestHtml" folder="Wrapper/chill" category="Chill"/>
      <repository name="Dev-TestFlash" folder="Wrapper" category="Wrapper"/>
    </chillWrapperRepositories>

  </artifactory>
  
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGamesPortalToBuildMachineAdapter" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--http://10.20.40.158/buildMachineAdapter/QA-->
      <!--http://localhost/buildMachineAdapter-->
      <endpoint address="http://10.20.40.158/buildMachineAdapter/QA" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGamesPortalToBuildMachineAdapter" contract="BuildMachineAdapterService.IGamesPortalToBuildMachineAdapter" name="BasicHttpBinding_IGamesPortalToBuildMachineAdapter" />
    </client>
  </system.serviceModel>
</configuration>