<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MailingList" value="florin.iacob@sparkware.ro"/>
    <add key="UseEmbededMainProxyMock" value="true"/>
  </appSettings>
    
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILayoutToolService" maxReceivedMessageSize="104857600" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00"/>
        
        <binding name="BasicHttpBinding_IDataControlService" maxReceivedMessageSize="104857600" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00"/>

        <binding name="BasicHttpBinding_ILayoutToolPublisher" maxReceivedMessageSize="104857600" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
        
        
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/LayoutToolService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILayoutToolService" contract="LayoutToolService.ILayoutToolService" name="BasicHttpBinding_ILayoutToolService"/>

      <endpoint address="http://localhost/MainProxyMock/DataControlService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataControlService" contract="MainProxyDataControlService.IDataControlService" name="BasicHttpBinding_IDataControlService"/>
      <endpoint address="http://localhost/LayoutToolPublisher" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILayoutToolPublisher" contract="LayoutToolPublisherService.ILayoutToolPublisher" name="BasicHttpBinding_ILayoutToolPublisher"/>
    </client>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  
</configuration>
