<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MailingList" value="florin.iacob@sparkware.ro" />
    <add key="ArtifactoryUri" value="http://artifactory.888holdings.corp:8081" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" closeTimeout="00:00:10" openTimeout="00:00:10" receiveTimeout="00:00:10" sendTimeout="00:00:10" maxBufferSize="157286400" maxReceivedMessageSize="157286400" />
        <binding name="BasicHttpBinding_IGGPMockOpenSessionProviderService" closeTimeout="00:00:10" openTimeout="00:00:10" receiveTimeout="00:00:10" sendTimeout="00:00:10" maxBufferSize="157286400" maxReceivedMessageSize="157286400" />
        <binding name="BasicHttpBinding_IMockHistoryRecordsProvider" closeTimeout="00:00:10" openTimeout="00:00:10" receiveTimeout="00:00:10" sendTimeout="00:00:10" maxBufferSize="157286400" maxReceivedMessageSize="157286400" />
        <binding name="BasicHttpBinding_IGamesPortalService" closeTimeout="00:00:10" openTimeout="00:00:10" receiveTimeout="00:00:10" sendTimeout="00:00:10" maxReceivedMessageSize="157286400" />
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IGGPMockLoggerService" closeTimeout="00:00:10" openTimeout="00:00:10" receiveTimeout="00:00:10" sendTimeout="00:00:10" maxBufferSize="157286400" maxReceivedMessageSize="157286400">
          <security mode="None" />
        </binding>
        <binding name="NetNamedPipeBinding_IInstallationProgressFeedbackService" closeTimeout="00:00:10" openTimeout="00:00:10" receiveTimeout="00:00:10" sendTimeout="00:00:10" maxBufferSize="157286400" maxReceivedMessageSize="157286400">
          <security mode="None" />
        </binding>
        <binding name="NetNamedPipeBinding_IGGPMockSupportService">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IGGPMockLoggerService" />
        <binding name="WSDualHttpBinding_IGGPMockSupportService" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8687/GamesInformationService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="GamesInformationService.IGamesInformationService" />
      <endpoint address="http://localhost:8687/ToolService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="ToolService.IToolService" name="IToolService" />
      <endpoint address="http://localhost:8687/ToolService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="ToolService.IRNG" name="IRNG" />
      <endpoint address="http://localhost:8687/ToolService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="ToolService.ISupportService" name="ISupportService" />
      <endpoint address="http://localhost:8687/GGPMockOpenSessionProviderService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGGPMockOpenSessionProviderService" contract="OpenSessionProviderService.IGGPMockOpenSessionProviderService" name="BasicHttpBinding_IGGPMockOpenSessionProviderService" />
      <endpoint address="net.pipe://localhost/InstallationProgressFeedbackService" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IInstallationProgressFeedbackService" contract="InstallationProgressFeedbackService.IInstallationProgressFeedbackService" name="NetNamedPipeBinding_IInstallationProgressFeedbackService" />
      <endpoint address="http://localhost:8687/MockHistoryRecordsProvider" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMockHistoryRecordsProvider" contract="MockHistoryRecordsProvider.IMockHistoryRecordsProvider" name="BasicHttpBinding_IMockHistoryRecordsProvider" />
      <endpoint address="http://localhost:8687/GGPMockLoggerService" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IGGPMockLoggerService" contract="GGPMockLoggerService.IGGPMockLoggerService" name="WSDualHttpBinding_IGGPMockLoggerService" />
      <endpoint address="net.pipe://localhost/GGPMockLoggerService" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IGGPMockLoggerService" contract="GGPMockLoggerService.IGGPMockLoggerService" name="NetNamedPipeBinding_IGGPMockLoggerService" />
      <endpoint address="http://localhost:8687/GGPMockSupportService" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IGGPMockSupportService" contract="GGPMockDataProvider.IGGPMockSupportService" name="WSDualHttpBinding_IGGPMockSupportService" />
      <endpoint address="net.pipe://localhost/GGPMockSupportService" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IGGPMockSupportService" contract="GGPMockDataProvider.IGGPMockSupportService" name="NetNamedPipeBinding_IGGPMockSupportService" />
      <endpoint address="http://10.20.40.158/GamesPortalService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGamesPortalService" contract="GamesPortalService.IGamesPortalService" name="BasicHttpBinding_IGamesPortalService" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>